<ul class="list-unstyled mb-0 d-flex align-items-center">

    <!-- Navbar Toggle Icon-->
    <li class="d-inline-block d-lg-none">
        <button
                class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 d-flex align-items-center"
                data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="ri-menu-line ri-lg align-middle"></i>
        </button>
    </li>
    <!-- /Navbar Toggle Icon-->

    <!-- Navbar Search-->
    <li class="ms-1 d-inline-block">
        <button
                class="btn btn-link px-2 text-decoration-none d-flex align-items-center"
                data-pr-search>
            <i class="ri-search-2-line ri-lg align-middle"></i>
        </button>
    </li>
    <!-- /Navbar Search-->

    <% if (session.authorizationConsumer) { %>
        <!-- Navbar Login-->
        <li class="ms-1 d-none d-lg-inline-block">
            <a class="btn btn-link px-2 text-decoration-none d-flex align-items-center"
               href="/mypage">
                <i class="ri-user-line ri-lg align-middle"></i>
            </a>
        </li>
        <!-- /Navbar Login-->
    <% } else { %>
        <!-- Navbar Login-->
        <li class="ms-1 d-none d-lg-inline-block">
            <a class="btn btn-link px-2 text-decoration-none d-flex align-items-center"
               href="/sign">
                <i class="ri-user-line ri-lg align-middle"></i>
            </a>
        </li>
        <!-- /Navbar Login-->
    <% } %>
</ul>