<!-- Main Navigation-->
<div class="ms-5 flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1" id="navbarNavDropdown">

    <!-- Mobile Nav Toggler-->
    <button
            class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 position-absolute top-0 end-0 mt-3 me-2"
            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
        <i class="ri-close-circle-line ri-2x"></i>
    </button>
    <!-- / Mobile Nav Toggler-->

    <ul class="navbar-nav py-lg-2 mx-auto">
        <li class="nav-item me-lg-4">
            <a class="nav-link fw-bolder py-lg-4" href="/">
                Home
            </a>
        </li>
        <li class="nav-item me-lg-4">
            <a class="nav-link fw-bolder py-lg-4" href="/category">
                Category
            </a>
        </li>
        <% if (session.authorizationConsumer) { %>
        <li class="nav-item me-lg-4">
            <a class="nav-link fw-bolder py-lg-4" href="./cart">
                Cart
            </a>
        </li>
        <li class="nav-item me-lg-4">
            <a class="nav-link fw-bolder py-lg-4" href="./checkout">
                Checkout
            </a>
        </li>

        <% }%>
    </ul>
</div>